@import "tailwindcss";


body {
  @apply bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-white;
  font-family: 'Inter', sans-serif;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}
/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
